.textColor{
    font-family: 'Raleway', sans-serif;
    color:#042b7c;
}

.welcomeText{
    line-height: 2.2;

}
 
.startedBtn{
    padding: 12px !important;
    border-radius: 72px !important;
    background-color: rgb(212, 130, 74) !important;
    width: 7%;
 }

 .navBar{
    background-color: #042b7c !important;

 }

 .radioBtn-checked{
    width: 40%;
    padding : 30px;
    background-color: rgb(124, 224, 124);
 }

 .radioBtn{
    width: 40%;
    padding : 30px;
    background-color: rgb(233, 225, 225);

}

.saveLaterBtn{
    padding: 12px !important;
    border-radius: 72px !important;
    outline: 1px solid #042b7c ;
}

.paginationBtn{
    list-style: none;
    /* display:flex;
    justify-content:end; */
}

.nextBtn{
    padding: 12px !important;
    border-radius: 72px !important;
    background-color: rgb(212, 130, 74) !important;
    width: 7%;

}